{% trans_default_domain 'message' %}
{% extends 'layout.html.twig' %}

{% block body %}
{{ form_start(form) }}

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.title'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.title, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.title) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.name'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.name, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.name) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.email'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.email, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.email) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.tel'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.tel, {'required':false, 'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.tel) }}
</div>



<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.zip'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.zip, {'required':false, 'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.zip) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.address'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.address, {'required':false, 'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.address) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.contact.body'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.body, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.body) }}
</div>



<div class="3u 12u$(xsmall)">
	&nbsp;
</div>
<div class="9u$ 12u$(xsmall)">
	<input type="submit" class="special" value="{{ 'contact.button.new'|trans }}" id="submit-button" />
</div>




{{ form_end(form) }}
{% endblock %}
