{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block banner %}
{% endblock %}

{% block title %}サイト管理{% endblock title %}
{% block body %}
<div class="row uniform">
    <div class="4u 12u(small)">
    	<a class="button special fit" href="{{ path('article_new') }}"><i class="fas fa-plus"></i> {{ 'article.title.new'|trans }}</a>
    </div>
    <div class="4u 12u(small)">
    	<a class="button special fit" href="{{ path('article_index') }}"><i class="fas fa-list-ul"></i> {{ 'article.title.index'|trans }}</a>
    </div>
    <div class="4u 12u$(small)">
    	<a class="button special fit" href="{{ path('admin_contact_index') }}"><i class="far fa-envelope"></i> {{ 'contact.title.index'|trans }}</a>
    </div>
    {% if getSetting('parameter_members_mode') == 'true' %}
    <div class="12u 12u$(small)">
    	<a class="button special fit" href="{{ path('user_index') }}"><i class="fas fa-users"></i> {{ 'user.title.index'|trans }}</a>
    </div>
    {% endif %}

    <div class="12u 12u$(small)">
    	<div class="box">
    		<h4>画像アップロードの方法</h4>
    		<p>画像のアップロードはサイト上でより美しく表示するためにアップロードに条件を設けています。アップロードができない場合は下記のルールを確認してください。</p>
    		<table class="table">
    			<tr>
    				<td width="35%">フォーマット</td>
    				<td>JPEG,PNGファイル</td>
    			</tr>
    			<tr>
    				<td>向き</td>
    				<td>横写真のみ許可</td>
    			</tr>
    			<tr>
    				<td>画像サイズ</td>
    				<td>横幅1000px以上〜横幅4100pxまで(iPhoneXSでアップロード可能)</td>
    			</tr>
    			<tr>
    				<td>画像容量</td>
    				<td>1枚3Mbyteまで</td>
    			</tr>

    		</table>
    		<h4>基本設定</h4>
    		<table class="table">
    			<tr>
    				<td width="35%">基本メール</td>
    				<td>
    					{{ getParameter('mailer_user') }}<br />
						こちらのメールアドレスにお問い合わせのメールなどが送られます
					</td>
    			</tr>
    			<tr>
    				<td>サイト基本設定</td>
    				<td>
    					サイトテーマ名：{{ getSetting('parameter_theme_name') }}<br />
    					1記事のアップロード画像最大数：{{ getSetting('parameter_image_count') }}<br />
    				</td>
    			</tr>

    		</table>
    	</div>
    </div>
    
</div>
{% endblock body %}
