{% trans_default_domain 'message' %}
{% extends '@AppBundle/Resources/views/Template/layout.html.twig' %}

{% block title %}{{ 'page.title.edit'|trans() }}{% endblock %}

{% block body %}
{{ form_start(edit_form, {'attr':{'class':'row uniform'}}) }}

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.title'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.title, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.title) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.slug'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_errors(edit_form.slug) }}
	{{ form_widget(edit_form.slug) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.seo.image'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.seo.image) }}
	{{ form_errors(edit_form.seo.image) }}
	{% if page.seo.image.src is defined %}
		{% if page.seo.image.src is not null %}
		<div class="image">
			<img src="{{ upload_uri }}/{{ page.seo.image.src }}" width="100%" />
		</div>
		{% endif %}
	{% endif %}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.body'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.body, {'attr': { 'placeholder':'例) ', 'style':'height: 300px;'}}) }}
	{{ form_errors(edit_form.body) }}
</div>




{% for image in edit_form.images %}
<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.images'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(image) }}
	{{ form_errors(image) }}
	{% if image.vars.value.src is not null %}
	<div class="image">
		<img src="{{ upload_uri }}/{{ image.vars.value.src }}" width="100%" />
	</div>
	{% endif %}
</div>
{% endfor %}

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.published_at'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.publishedat, {'attr': { 'class' : 'js-datepicker-datetime', 'placeholder':'例) 2018' }}) }}
</div>


<div class="12u$ 12u$(xsmall)">
	<div class="box">
		<div>
		<h3>{{ 'seo.title.form_title'|trans }}</h3>
		<p>{{ 'seo.title.form_description'|trans }}</p>
		</div>
		
		<h4>{{ 'entity.seo.description'|trans }}</h4>
		<div class="12u$ 12u$(xsmall)">
			<p>
			{{ form_widget(edit_form.seo.description) }}
			{{ form_errors(edit_form.seo.description) }}
			</p>
		</div>
		<h4>{{ 'entity.seo.keywords'|trans }}</h4>
		<div class="12u$ 12u$(xsmall)">
			<p>
			{{ form_widget(edit_form.seo.keywords) }}
			{{ form_errors(edit_form.seo.keywords) }}
			</p>
		</div>
	</div>
</div>

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.is_published'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
{{ form_widget(edit_form.is_published) }}
<label for="cmsbundle_page_is_published">{{ 'page.message.is_published'|trans() }}</label>
</div>

{% if getSetting('parameter_members_mode') == true %}
<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.is_member'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
{{ form_widget(edit_form.is_member) }}
<label for="cmsbundle_page_is_member">{{ 'page.message.is_member'|trans() }}</label>
</div>
{% endif %}

<div class="12u$ 12u$(xsmall)">
	<input type="submit" class="special fit" value="{{ 'page.button.edit'|trans }}" id="submit-button" />
</div>



{{ form_end(edit_form) }}

<hr />

{{ form_start(delete_form, {'attr':{'class':'row uniform'}}) }}

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.user.current_password'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(delete_form.password.current_password) }}
	{{ form_errors(delete_form.password.current_password) }}
</div>

<div class="3u 12u$(xsmall)"></div>
<div class="9u$ 12u$(xsmall)">
	<input type="submit" class="" value="{{ 'page.button.delete'|trans }}" id="delete-button" />
</div>
{{ form_end(delete_form) }}

{% endblock %}

{% block stylesheets %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascripts %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{% block javascript %}
{# http://eonasdan.github.io/bootstrap-datetimepicker/ #}
<script>
$(document).ready(function() {
	
	var defaultDate = new Date('{{ 'now'|date('Y/m/d 10:00') }}');

	$('.js-datepicker-datetime').datetimepicker({
		format: 'YYYY-MM-DD HH:ss',
		locale: '{{ app.request.locale }}',
		inline: false,
		defaultDate: defaultDate
	});
	$('.js-datepicker-date').datetimepicker({
		format: 'YYYY-MM-DD',
		locale: '{{ app.request.locale }}',
		inline: false,
		defaultDate: defaultDate
	});
	$('.js-datepicker-time').datetimepicker({
		format: 'HH:ss',
		locale: '{{ app.request.locale }}',
		inline: false,
		defaultDate: defaultDate
	});

});
</script>
{% endblock %}
