{% trans_default_domain 'message' %}
{% extends '@AppBundle/Resources/views/Template/layout.html.twig' %}

{% block title %}{{ 'page.title.edit'|trans() }}{% endblock title %}

{% block body %}
{{ 
	form_start(
		edit_form, {
			'method': 'post', 
			'attr': {
				'class': 'page_edit row uniform', 
				'novalidate': 'novalidate',
		}
	}) 
}}

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.title'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.title, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.title) }}
</div>

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.seo.image'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.seo.image) }}
	{{ form_errors(edit_form.seo.image) }}
	{% if page.seo.image.src is defined %}
	<div class="image">
		<img src="{{ upload_uri }}/{{ page.seo.image.src }}" width="100%" />
	</div>
	{% endif %}
	
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.slug'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.slug, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.slug) }}
</div>


<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.page.body'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(edit_form.body, {'attr': { 'placeholder':'例) example', 'style': 'height: 300px;'}}) }}
	{{ form_errors(edit_form.body) }}
</div>

<div class="12u$ 12u$(xsmall)">
	<div class="box">
		<div>
		<h3>{{ 'seo.title.form_title'|trans }}</h3>
		<p>{{ 'seo.title.form_description'|trans }}</p>
		</div>
		
		<h4>{{ 'entity.seo.description'|trans }}</h4>
		<div class="12u$ 12u$(xsmall)">
			<p>
			{{ form_widget(edit_form.seo.description) }}
			{{ form_errors(edit_form.seo.description) }}
			</p>
		</div>
		<h4>{{ 'entity.seo.keywords'|trans }}</h4>
		<div class="12u$ 12u$(xsmall)">
			<p>
			{{ form_widget(edit_form.seo.keywords) }}
			{{ form_errors(edit_form.seo.keywords) }}
			</p>
		</div>
	</div>
</div>

<div class="12u$ 12u$(xsmall)">
	<input type="submit" class="special fit" value="{{ 'page.button.edit'|trans }}" id="submit-button" />
</div>

{{ form_end(edit_form) }}

<hr />

{{ form_start(delete_form, {'attr':{'class':'row uniform'}}) }}
<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.user.current_password'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(delete_form.password.current_password) }}
	{{ form_errors(delete_form.password.current_password) }}
</div>
<div class="3u 12u$(xsmall)">
	&nbsp;
</div>
<div class="9u$ 12u$(xsmall)">
    <input type="submit" value="{{ 'page.button.delete'|trans() }}">
</div>
{{ form_end(delete_form) }}


{% endblock %}
