{% trans_default_domain 'message' %}
{% extends "@AppBundle/Resources/views/Template/layout.html.twig" %}

{% block title %}{{ 'page.title.index'|trans() }}{% endblock title %}
{% block body %}
<div>
<a href="{{ path('page_new') }}" class="button special small fit"><i class="fas fa-plus"></i> {{ 'page.button.new'|trans() }}</a>
</div>
<div class="table-wrapper">
<table class="table">
    <thead>
	    <tr>
	        <th>{{ 'entity.page.eyecatch'|trans() }}</th>
	        <th>{{ 'entity.page.title'|trans() }}</th>
	    </tr>
	</thead>
    <tbobdy>
{% for page in pages %}
    <tr>
        <td>
        	{% if page.seo.image is defined %}
        		{% if page.seo.image is not null %}
	        		<img src="{{ asset(upload_uri~'/'~page.seo.image.src)| imagine_filter('image_small') }}" alt="" />
				{% endif %}
			{% endif %}
        </td>
        <td>
			<div style="padding: 10px 0;">{{ page.title|trans() }}</div>
	        <div>
	        <a href="{{ path('page_show', {'slug': page.slug}) }}" class="button small" target="_blank">{{ 'page.button.show'|trans() }}</a>
	        	<a href="{{ path('page_edit', {'id': page.id}) }}" class="button small special">{{ 'page.button.edit'|trans() }}</a>
			</div>
        </td>
    </tr>
{% endfor %}
    </tbobdy>
</table>
</div>

{% include '@AppBundle/Resources/views/Template/pager.html.twig' %}

{% endblock body %}

