<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/x-icon" href="{{ get_admin_template_directory_uri() }}/favicon.ico" />
<link rel="apple-touch-icon" href="{{ get_admin_template_directory_uri() }}/apple-touch-icon.png" />
<!--[if lte IE 8]><script src="{{ get_admin_template_directory_uri() }}/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{{ get_admin_template_directory_uri() }}/css/main.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--[if lte IE 9]><link rel="stylesheet" href="{{ get_admin_template_directory_uri() }}/css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ get_admin_template_directory_uri() }}/css/ie8.css" /><![endif]-->
</head>
<body>

<header id="header">
	<h1>
		<a 
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			href="{{ path('super_index') }}"
		{% elseif is_granted('ROLE_ADMIN') %}
			href="{{ path('admin_index') }}"
		{% else %}
			href="{{ path('site_index') }}"
		{% endif %}
		>Code6 CMS <span>Subscription</span></a>
	</h1>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	    <a href="{{ path('fos_user_profile_show') }}">
	        {{ app.user.username }}
	    </a>
	{% else %}
	    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	{% endif %}
	<a href="#menu">Menu</a>
</header>
<nav id="menu">
	<ul class="links">
		<li><a href="{{ path('site_index') }}"><i class="fas fa-home"></i> Home</a></li>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('article_index') }}"><i class="fas fa-list-ul"></i> {{ 'article.title.index'|trans({}, 'message') }}</a></li>
				<li><a href="{{ path('admin_contact_index') }}"><i class="fas fa-envelope"></i> {{ 'contact.title.index'|trans({}, 'message') }}</a></li>
			{% endif %}
		{% endif %}
	</ul>
	<ul class="links">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('image_index') }}"><i class="fas fa-images"></i> {{ 'image.title.index'|trans({}, 'message') }}</a></li>
				{% if getSetting('parameter_members_mode') == true %}
					<li><a href="{{ path('user_index') }}"><i class="fas fa-users"></i> {{ 'user.title.index'|trans({}, 'message') }}</a></li>
				{% endif %}
			{% else %}
				<li><a href="{{ path('fos_user_profile_show') }}">プロフィール</a></li>
			{% endif %}
		{% endif %}
	</ul>
	<ul class="actions vertical">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% endif %}
		
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li><a href="{{ path('fos_user_security_logout') }}" class="button fit">Log Out</a></li>
		{% else %}
			<li><a href="{{ path('fos_user_security_login') }}" class="button special fit">Log In</a></li>
		{% endif %}
		
	</ul>
</nav>

