{% trans_default_domain 'message' %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
{% block stylesheets %}{% endblock stylesheets %}
{% include admin_template_path('header.html.twig') %}

{% block banner %}{% endblock banner %}

{% block body %}
{% endblock body %}

{% include admin_template_path('footer.html.twig') %}

<script src="{{ asset('js/jquery.js') }}"></script>
{% block javascripts %}{% endblock javascripts %}
<script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<!--[if lte IE 8]><script src="{{ asset('js/ie/respond.min.js') }}"></script><![endif]-->
<script src="{{ asset('js/main.js') }}"></script>
{% block javascript %}{% endblock javascript %}

</body>
</html>
