{% trans_default_domain 'message' %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Code6 CMS{% endblock %}</title>
{% block stylesheets %}{% endblock stylesheets %}
{% include admin_template_path('header.html.twig') %}

{% block banner %}{% endblock banner %}

<article id="main" role="main">
	{% block header %}{% endblock %}
	<section class="wrapper">
		<div class="inner narrow">
		{% if block('title') is defined %}<h2>{{ block('title')|trans }}</h2>{% endif %}

		{% if app.request.hasPreviousSession %}
		{% for type, messages in app.session.flashbag.all() %}
		    {% for message in messages %}
		        <div class="box flash-{{ type }}">
		            {{ message|trans() }}
		        </div>
		    {% endfor %}
		{% endfor %}
		{% endif %}
		
		{% if block('body') is defined %}
			{{ block('body') }}
		{% endif %}
		{% if block('fos_user_content') is defined %}
			{{ block('fos_user_content') }}
		{% endif %}
		
		</div>
	</section>
</article>

{% include admin_template_path('footer.html.twig') %}

<script src="{{ get_admin_template_directory_uri() }}/js/jquery.js"></script>
{% block javascripts %}{% endblock javascripts %}
<script src="{{ get_admin_template_directory_uri() }}/js/jquery.scrolly.min.js"></script>
<script src="{{ get_admin_template_directory_uri() }}/js/skel.min.js"></script>
<script src="{{ get_admin_template_directory_uri() }}/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ get_admin_template_directory_uri() }}/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ get_admin_template_directory_uri() }}/js/main.js"></script>
{% block javascript %}{% endblock javascript %}

</body>
</html>
