{% trans_default_domain 'message' %}
{% extends '@AppBundle/Resources/views/Template/layout.html.twig' %}

{% block title %}{{ 'stripe.title.config'|trans }}{% endblock %}
{% block body %}
<p>
STEP1. マスターのStripeのConnectリダイレクト URISに下記URIを登録してください。
</p>
<p>
<table>
	<tr>
		<td>リダイレクトURI</td><td><strong>{{ app.request.scheme ~ '://' ~ app.request.host }}{{ path('stripe_redirect') }}</strong></td>
	</tr>
</table>
</p>
<p>STEP2. あなたのStripeアカウントとサービスを連携します。下記のボタンを押してあなたのStripeアカウントを認証してください。マスターStripeのapplication stripe account IDは下記のとおりです。テストキーから本番キーへの変更の際はSettingのStripe tokenを削除してください。</p>
<p>
<table>
	<tr>
		<td>Secret Token</td><td><strong>{{stripe_secret_token}}</strong></td>
	</tr>
	<tr>
		<td>Connect Client ID</td><td><strong>{{stripe_connect_client_id}}</strong></td>
	</tr>
	<tr>
		<td>Application Fee</td><td><strong>{{stripe_application_fee}}%</strong></td>
	</tr>
	<tr>
</table>
</p>

<p><a class="button special" href="{{ path('stripe_start') }}">STRIPE CONNECT</a></p>

{% endblock %}
