{% trans_default_domain 'message' %}
{% extends "layout.html.twig" %}

{% block title %}{{ image.title }}{% endblock title %}

{% block body %}
<table>
    <tbody>
        <tr>
            <th width="30%">{{ 'entity.image.title'|trans() }}</th>
            <td>{{ image.title }}</td>
        </tr>
        <tr>
            <th>{{ 'entity.image.body'|trans() }}</th>
            <td>{{ image.body }}</td>
        </tr>
        <tr>
            <th>{{ 'entity.image.image'|trans() }}</th>
            <td>
            	<img src="{{ asset('uploads/'~image.image) | imagine_filter('image_normal') }}" alt="" style="width: 100%;">
			</td>
        </tr>
    </tbody>
</table>
{% endblock %}

