{% trans_default_domain 'message' %}
{% extends "@AppBundle/Resources/views/Template/layout.html.twig" %}

{% block title %}{{ 'article.title.index'|trans() }}{% endblock title %}
{% block body %}
<div>
<a href="{{ path('article_new') }}" class="button special small"><i class="fas fa-plus"></i> {{ 'article.button.new'|trans() }}</a>
</div>
<div class="table-wrapper">
<table class="table">
    <thead>
	    <tr>
	        <th>{{ 'entity.article.title'|trans() }}</th>
	        <th>{{ 'entity.article.date'|trans() }}</th>
	        <th>&nbsp;</th>
	    </tr>
	</thead>
    <tbobdy>
{% for article in articles %}
    <tr>
        <td><img src="{{ asset('/uploads/'~article.eyecatch.image)| imagine_filter('image_small') }}" alt="" /></td>
        <td>
			{{ article.title|trans() }}
		</td>
        <td>
        	<a href="{{ path('article_show', {'id': article.id}) }}" class="button small" target="_blank">{{ 'article.button.show'|trans() }}</a><br />
        	<a href="{{ path('article_edit', {'id': article.id}) }}" class="button small special">{{ 'article.button.edit'|trans() }}</a>
        </td>
    </tr>
{% endfor %}
    </tbobdy>
</table>
</div>

{% include '@AppBundle/Resources/views/Template/pager.html.twig' %}

{% endblock body %}

