{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'article.title.index'|trans() }}{% endblock title %}
{% block body %}
<div>
<a href="{{ path('article_new') }}" class="button special small fit"><i class="fas fa-plus"></i> {{ 'article.title.new'|trans() }}</a>
</div>
<div class="table-wrapper">
<table class="table">
    <thead>
	    <tr>
	        <th>{{ 'entity.article.eyecatch'|trans() }}</th>
	        <th>{{ 'entity.article.title'|trans() }}</th>
	    </tr>
	</thead>
    <tbobdy>
{% for article in articles %}
    <tr>
        <td width="35%">
        	{% if article.seo.image is defined %}
	        	{% if article.seo.image is not null %}
		        	<div class="image fit">
			        	<img src="{{ article.seo.image.src|upload_uri|imagine_filter('image_normal') }}" alt=""/>
		        	</div>
				{% endif %}
			{% endif %}
        </td>
        <td>
			<div style="padding: 10px 0;">{{ article.title|trans() }}</div>
	        <div>
	        <a href="{{ path('article_show', {'slug': article.slug}) }}" class="button small" target="_blank">{{ 'article.button.show'|trans() }}</a>
	        	<a href="{{ path('article_edit', {'id': article.id}) }}" class="button small special">{{ 'article.button.edit'|trans() }}</a>
			</div>
        </td>
    </tr>
{% endfor %}
    </tbobdy>
</table>
</div>

{% include admin_template_path('pager.html.twig') %}

{% endblock body %}

