{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'article.title.new'|trans() }}{% endblock %}

{% block body %}
{{ form_start(form, {'attr':{'class':'row uniform gtr-uniform'}}) }}

<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.title'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(form.title, {'attr': { 'placeholder':'例) Article Name' }}) }}
	{{ form_errors(form.title) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.slug'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(form.slug, {'attr': {'placeholder':'例) article01'}}) }}
	{{ form_errors(form.slug) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.seo.image'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_errors(form.seo.image.file) }}
	{{ form_widget(form.seo.image.file) }}
</div>



<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.body'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(form.body, {'attr': { 'placeholder':'例) example', 'style': 'height: 200px;' }}) }}
	{{ form_errors(form.body) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.published_at'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(form.publishedat, {'attr': { 'class' : 'js-datepicker-datetime', 'placeholder':'例) 2018' }}) }}
</div>

{% set image_id = 1 %}
{% for image in form.images %}
<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.images'|trans() }}{{ image_id }}</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(image) }}
	{{ form_errors(image) }}
	<p><small>記事の中では [image{{ image_id }}] と記入してください。</small></p>
</div>
{% set image_id = image_id + 1 %}
{% endfor %}



<div class="12u$ 12u$(xsmall) col-12 col-12-small">
	<div class="box">
		<div>
		<h3>{{ 'seo.title.form_title'|trans }}</h3>
		<p>{{ 'seo.title.form_description'|trans }}</p>
		</div>
		
		<h4>{{ 'entity.seo.description'|trans }}</h4>
		<div class="12u$ 12u$(xsmall)">
			<p>
			{{ form_widget(form.seo.description) }}
			{{ form_errors(form.seo.description) }}
			</p>
		</div>
		<h4>{{ 'entity.seo.keywords'|trans }}</h4>
		<div class="12u$ 12u$(xsmall)">
			<p>
			{{ form_widget(form.seo.keywords) }}
			{{ form_errors(form.seo.keywords) }}
			</p>
		</div>
	</div>
</div>

<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.is_published'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
{{ form_widget(form.is_published) }}
<label for="cmsbundle_article_is_published">{{ 'article.message.is_published'|trans() }}</label>
</div>

{% if getSetting('parameter_members_mode') == true %}
<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.article.is_member'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
{{ form_widget(form.is_member) }}
<label for="cmsbundle_article_is_member">{{ 'article.message.is_member'|trans() }}</label>
</div>
{% endif %}

<div class="12u$ 12u$(xsmall)">
	<input type="submit" class="special fit primary" value="{{ 'form.button.create'|trans }}" id="submit-button" />
</div>




{{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascripts %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{% block javascript %}
{# http://eonasdan.github.io/bootstrap-datetimepicker/ #}
<script>
$(document).ready(function() {
	
	var defaultDate = new Date('{{ 'now'|date('Y/m/d H:i') }}');

	$('.js-datepicker-datetime').datetimepicker({
		format: 'YYYY-MM-DD HH:mm',
		locale: '{{ app.request.locale }}',
		inline: false,
		defaultDate: defaultDate
	});
	$('.js-datepicker-date').datetimepicker({
		format: 'YYYY-MM-DD',
		locale: '{{ app.request.locale }}',
		inline: false,
		defaultDate: defaultDate
	});
	$('.js-datepicker-time').datetimepicker({
		format: 'HH:ss',
		locale: '{{ app.request.locale }}',
		inline: false,
		defaultDate: defaultDate
	});

});
</script>
{% endblock %}
