{% trans_default_domain 'message' %}
{% extends template_layout() %}

{% block title %}{{ 'profile.title.show'|trans }}{% endblock %}

{% block fos_user_content %}
<div class="uniform">

<table class="table">
	<tr>
		<th width="32%">{{ 'entity.user.username'|trans }}</th>
		<td>{{ app.user.username }}</td>
	</tr>
	<tr>
		<th>{{ 'entity.user.email'|trans }}</th>
		<td>{{ app.user.email }}</td>
	</tr>
	<tr>
		<th>{{ 'entity.user.zip'|trans }}</th>
		<td>{{ app.user.zip }}</td>
	</tr>
	<tr>
		<th>{{ 'entity.user.address'|trans }}</th>
		<td>{{ app.user.address }}</td>
	</tr>
	<tr>
		<th>{{ 'entity.user.tel'|trans }}</th>
		<td>{{ app.user.tel }}</td>
	</tr>
	
</table>    
<div>
	<a class="button special" href="{{ path('fos_user_profile_edit') }}">{{ 'profile.button.edit'|trans }}</a>
</div>
    
</div>
{% endblock fos_user_content %}
