{% trans_default_domain 'message' %}
{% extends "themes/default/layout.html.twig" %}
{% block title %}{{ 'security.title.index'|trans() }}{% endblock %}

{% block body %}

{% if error %}
    <div class="box">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
	
	<div>
		{{ 'entity.user.username'|trans }}
	</div>
	<div>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
	</div>

	<div>
		{{ 'entity.user.password'|trans }}
	</div>
	<div>
	    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
	</div>


	<div>
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'message.remember_me'|trans }}</label>
	</div>


	<div>
	    <input type="submit" id="_submit" name="_submit" class="special" value="{{ 'form.button.login'|trans }}" />
	</div>

	
	<script src="https://www.google.com/recaptcha/api.js?render={{ getParameter('recaptcha_site_key') }}"></script>
	<script>
	grecaptcha.ready(function() {
	  grecaptcha.execute('{{ getParameter('recaptcha_site_key') }}', {action: 'homepage'}).then(function(token) {
		    recaptcha = document.getElementById('recaptcha');
		    recaptcha.value = token;
	  });
	});
	</script>
	
	<input type="hidden" id="recaptcha" name="_recaptcha" value="" />
	
	
</form>

{% endblock %}

