{% trans_default_domain 'message' %}
{% extends "themes/default/layout.html.twig" %}

{% block title %}{{ 'profile.title.edit'|trans }}{% endblock %}

{% block fos_user_content %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit row uniform', 'novalidate': 'novalidate' } }) }}

<div>
	{{ 'entity.user.username'|trans }}
</div>
<div>
	{{ form_widget(form.username, {'label':'entity.user.username'|trans, 'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.username) }}
</div>

<div>
	{{ 'entity.user.email'|trans }}
</div>
<div>
	{{ form_widget(form.email, {'label':'entity.user.email'|trans, 'attr': { 'placeholder':'例) info@example.com' }}) }}
	{{ form_errors(form.email) }}
</div>


<div>
	<label>{{ 'entity.user.zip'|trans }}*</label>
</div>
<div>
	{{ form_widget(form.zip, {'attr': { 'placeholder':'例) ' }}) }}
	{{ form_errors(form.zip) }}
</div>


<div>
	<label>{{ 'entity.user.address'|trans }}*</label>
</div>
<div>
	{{ form_widget(form.address, {'attr': { 'placeholder':'例) ' }}) }}
	{{ form_errors(form.address) }}
</div>


<div>
	<label>{{ 'entity.user.tel'|trans }}*</label>
</div>
<div>
	{{ form_widget(form.tel, {'attr': { 'placeholder':'例) ' }}) }}
	{{ form_errors(form.tel) }}
</div>


<div>
	{{ 'entity.user.password'|trans }}
</div>
<div>
	{{ form_widget(form.plainPassword, {'label':'entity.user.password'|trans,'attr': { 'placeholder':'' }}) }}
	{{ form_errors(form.plainPassword) }}
</div>


<div>
	<input type="submit" class="button special" value="{{ 'form.button.edit'|trans }}" id="submit-button" />
</div>

{{ form_end(form) }}

{% endblock fos_user_content %}

