{% trans_default_domain 'message' %}
{% extends "themes/default/layout.html.twig" %}
{% block title %}{{ 'subscription.title.index'|trans }}{% endblock %}

{% block fos_user_content %}

<table class="table">
	<tr>
		<th width="32%">{{ 'subscription.current_period_start'|trans }}</th>
		<td>{{ subscription.current_period_start|date('Y-m-d H:i:s') }}</td>
	</tr>
	<tr>
		<th>{{ 'subscription.current_period_end'|trans }}</th>
		<td>{{ subscription.current_period_end|date('Y-m-d H:i:s') }}</td>
	</tr>
	
	<tr>
		<th>{{ 'subscription.plan.amount'|trans }}</th>
		<td>{{ subscription.plan.amount }}</td>
	</tr>
	<tr>
		<th>{{ 'subscription.plan.name'|trans }}</th>
		<td>{{ subscription.plan.nickname }}</td>
	</tr>
	<tr>
		<th>{{ 'subscription.plan.interval'|trans }}</th>
		<td>{{ subscription.plan.interval }}</td>
	</tr>
	
</table>

<div>
    <a href="{{ path('subscription_cancel') }}" class="button">{{ 'button.subscription.cancel'|trans }}</a>
</div>

{% endblock  fos_user_content %}
