{% trans_default_domain 'message' %}
{% extends "themes/"~theme_name~"/layout.html.twig" %}
{% block title %}{{ 'contact.title.new'|trans }}{% endblock title %}

{% block body %}
{{ form_start(form, { 'attr':{ 'class': 'row gtr-uniform' } }) }}

<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.title'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.title, {'attr': { 'placeholder':'例) ログインに関するお問い合わせ' }}) }}
	{{ form_errors(form.title) }}
</div>


<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.name'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.name, {'attr': { 'placeholder':'例) 山田 華子' }}) }}
	{{ form_errors(form.name) }}
</div>


<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.email'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.email, {'attr': { 'placeholder':'例) info@example.com' }}) }}
	{{ form_errors(form.email) }}
</div>


<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.tel'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.tel, {'required':false, 'attr': { 'placeholder':'例) 03-1234-5678' }}) }}
	{{ form_errors(form.tel) }}
</div>



<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.zip'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.zip, {'required':false, 'attr': { 'placeholder':'例) 123-0001' }}) }}
	{{ form_errors(form.zip) }}
</div>


<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.address'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.address, {'required':false, 'attr': { 'placeholder':'例) 東京都港区1-1-1' }}) }}
	{{ form_errors(form.address) }}
</div>


<div class="col-3 col-12-small">
	<label>{{ 'entity.contact.body'|trans() }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.body, {'attr': { 'placeholder':'例)' }}) }}
	{{ form_errors(form.body) }}
</div>



<div class="col-3 col-12-small">
	&nbsp;
</div>
<div class="col-9 col-12-small">
	<input type="submit" class="special" value="{{ 'contact.button.new'|trans }}" id="submit-button" />
</div>




{{ form_end(form) }}
{% endblock %}
