{% trans_default_domain 'message' %}
{% extends "themes/"~theme_name~"/layout.html.twig" %}
{% block title %}{{ 'resetting.title.reset'|trans() }}{% endblock %}

{% block fos_user_content %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset row gtr-uniform' } }) }}

<div class="col-3 col-12-small">
{{ 'entity.user.password'|trans }}
</div>
<div class="col-9 col-12-small">
{{ form_widget(form.plainPassword.first) }}
</div>

<div class="col-3 col-12-small">
{{ 'entity.user.password_confirm'|trans }}
</div>
<div class="col-9 col-12-small">
{{ form_widget(form.plainPassword.second) }}
</div>

<div class="col-3 col-12-small"></div>
<div class="col-9 col-12-small">
    <input type="submit" value="{{ 'form.button.submit'|trans }}" />
</div>

{{ form_end(form) }}

{% endblock fos_user_content %}
