{% trans_default_domain 'message' %}
{% extends "themes/"~theme_name~"/layout.html.twig" %}
{% block title %}{{ 'subscription.title.cancel.index'|trans }}{% endblock %}

{% block fos_user_content %}

{{ 
	form_start(
		form, {
			'method': 'post', 
			'action': path('subscription_cancel'), 
			'attr': {
				'class': 'subscription_cancel row gtr-uniform', 
				'novalidate': 'novalidate'
		}
	}) 
}}

<div>
<p>{{ getSetting('cancel_description') }}</p>
</div>

<div class="col-3 col-12-small">
	<label>{{ 'entity.user.password'|trans }}</label>
</div>
<div class="col-9 col-12-small">
	{{ form_widget(form.current_password) }}
	{{ form_errors(form.current_password) }}
</div>

<div class="col-3 col-12-small"></div>
<div class="col-9 col-12-small">
	<input type="submit" class="button special" value="{{ 'form.button.cancel'|trans }}" id="submit-button" />
</div>

{{ form_end(form) }}

{% endblock %}
