{% trans_default_domain 'message' %}
{% extends template_layout() %}
{% block title %}{{ 'subscription.title.invoice'|trans }}{% endblock %}

{% block fos_user_content %}

{% if app.user.getStripeSubscriptionId() %}
<table class="table">
	<tr>
		<td>
			{{ 'subscription.invoice.date'|trans }} 
		</td>
		<td>
			{{ 'subscription.invoice.number'|trans }}
		</td>
		<td>
			{{ 'subscription.invoice.total'|trans }}
		</td>
		<td>
			{{ 'subscription.invoice.hosted_invoice_url'|trans }}
		</td>
	</tr>
{% for invoice in invoices.data %}
	<tr>
		<td>
			{{ invoice.date|date('Y-m-d') }} 
		</td>
		<td>
			{{ invoice.number }}
		</td>
		<td>
			{{ invoice.total }}
		</td>
		<td>
			<a href="{{ invoice.hosted_invoice_url }}" target="_blank" class="button small special">{{ 'subscription.invoice.hosted_invoice_url'|trans }}</a>
		</td>
	</tr>
{% endfor %}

{% else %}
このアカウントでは請求がありません。
{% endif %}

</table>

{% endblock  fos_user_content %}

