{% trans_default_domain 'message' %}
{% extends '@AppBundle/Resources/views/Template/layout.html.twig' %}

{% block title %}{{ 'setting.title.config'|trans }}{% endblock %}

{% block body %}
{{ 
	form_start(
		form, {
			'attr': {
				'class': 'setting_config row uniform', 
				'novalidate': 'novalidate',
		}
	}) 
}}
<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.setting.slug_config'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.slug, {'attr': { 'placeholder':'例) example', 'readonly':'readonly' }}) }}
	{{ form_errors(form.slug) }}
</div>

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.setting.value_config'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.value, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.value) }}
</div>

<div class="3u 12u$(xsmall)"></div>
<div class="9u$ 12u$(xsmall)">
	<input type="submit" class="special" value="{{ 'setting.button.edit'|trans }}" id="submit-button" />
</div>
{{ form_end(form) }}

<hr />

<h3>初期設定設定例</h3>
<div class="box">
<p>初期設定を行います。サイト運営に必要になる設定は下記のとおりです。設定されていない場合は設定をしない限り会員登録ができません。</p>

<h4>register_email_subject</h4>
<p>会員登録が完了した際に会員へ送信されるメールのタイトルです。</p>

<h4>register_email</h4>
<p>会員登録が完了した際に会員へ送信されるメールの本文です。</p>

<h4>registered_description</h4>
<p>会員登録が完了した際に表示されるメッセージです。</p>

<h4>cancel_email_subject</h4>
<p>会員登録を解除した際に会員へ送信されるメールのタイトルです。</p>

<h4>cancel_email</h4>
<p>会員登録を解除した際に会員へ送信されるメールの本文です。</p>

<h4>cancel_description</h4>
<p>会員登録を解除する際に表示されるメッセージです。</p>

<h4>canceled_description</h4>
<p>会員登録を解除し終わったあとに表示されるメッセージ。</p>

</div>


{% endblock %}
