{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'setting.title.config.setting'|trans }}{% endblock %}

{% block body %}
{{ 
	form_start(
		form, {
			'attr': {
				'class': 'setting_config row uniform', 
				'novalidate': 'novalidate',
		}
	}) 
}}

<div class="12u 12u$(xsmall)">
	<div class="box">
	<p>初期設定を行います。サイト運営に必要になる設定は下記のとおりです。設定されていない場合は設定をしない限り会員登録ができません。</p>
	</div>
</div>

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.setting.slug_config'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.slug, {'attr': { 'placeholder':'例) example', 'readonly':'readonly' }}) }}
	{{ form_errors(form.slug) }}
	{% set setting_label = 'setting.default.'~setting.slug~'_label' %}
	{{ setting_label|trans({},'default') }}
</div>

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.setting.value_config'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.value, {'attr': { 'placeholder':'例) example', 'style': 'height: 200px;' }}) }}
	{{ form_errors(form.value) }}
</div>

<div class="3u 12u$(xsmall)"></div>
<div class="9u$ 12u$(xsmall)">
	<input type="submit" class="special" value="{{ 'setting.button.new'|trans }}" id="submit-button" />
</div>
{{ form_end(form) }}

{% endblock %}
