{% trans_default_domain 'message' %}
{% extends '@AppBundle/Resources/views/Template/layout.html.twig' %}

{% block title %}{{ 'setting.title.config'|trans }}{% endblock %}

{% block body %}
<div class="box">
<p>初期設定を行います。サイト運営に必要になる設定は下記のとおりです。設定されていない場合は設定をしない限り会員登録ができません。</p>
<p>
<strong>「register_email_subject」</strong> 会員登録が完了した際に会員へ送信されるメールのタイトルです。会員サービスでは必ず設定が必要です。
</p>
<p>
<strong>「register_email」</strong> 会員登録が完了した際に会員へ送信されるメールです。会員サービスでは必ず設定が必要です。
</p>
<p>
<strong>「cancel_email_subject」</strong> 会員登録が脱会した際に会員へ送信されるメールのタイトルです。会員サービスでは必ず設定が必要です。
</p>
<p>
<strong>「cancel_email」</strong> 会員登録が脱会した際に会員へ送信されるメールです。会員サービスでは必ず設定が必要です。
</p>
</div>
{{ 
	form_start(
		form, {
			'attr': {
				'class': 'setting_config row uniform', 
				'novalidate': 'novalidate',
		}
	}) 
}}
<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.setting.slug_config'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.slug, {'attr': { 'placeholder':'例) example', 'readonly':'readonly' }}) }}
	{{ form_errors(form.slug) }}
</div>

<div class="3u 12u$(xsmall)">
	<label>{{ 'entity.setting.value_config'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.value, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.value) }}
</div>

<div class="3u 12u$(xsmall)"></div>
<div class="9u$ 12u$(xsmall)">
	<input type="submit" class="special" value="{{ 'setting.button.edit'|trans }}" id="submit-button" />
</div>

{{ form_end(form) }}

{% endblock %}
