{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'profile.title.show'|trans }}{% endblock %}

{% block fos_user_content %}
<div class="uniform">
    
<table class="table">
	<tr>
		<td width="32%">{{ 'entity.user.username'|trans }}</td>
		<td>{{ app.user.username }}</td>
	</tr>
	<tr>
		<td>{{ 'entity.user.email'|trans }}</td>
		<td>{{ app.user.email }}</td>
	</tr>
	<tr>
		<td>{{ 'entity.user.fname'|trans }}</td>
		<td>{{ app.user.fname }}</td>
	</tr>
	<tr>
		<td>{{ 'entity.user.lname'|trans }}</td>
		<td>{{ app.user.lname }}</td>
	</tr>
	<tr>
		<td>{{ 'entity.user.zip'|trans }}</td>
		<td>{{ app.user.zip }}</td>
	</tr>	
	<tr>
		<td>{{ 'entity.user.address'|trans }}</td>
		<td>{{ app.user.address }}</td>
	</tr>
	<tr>
		<td>{{ 'entity.user.tel'|trans }}</td>
		<td>{{ app.user.tel }}</td>
	</tr>
</table>
<div>
	<a class="button special" href="{{ path('fos_user_profile_edit') }}">{{ 'profile.button.edit'|trans }}</a>
</div>
    
</div>
{% endblock fos_user_content %}
