{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'user.title.edit'|trans }}{% endblock %}
{% block body %}

{{ 
	form_start(
		edit_form, {
			'attr': {
				'class': 'user_edit row uniform', 
				'novalidate': 'novalidate',
		}
	}) 
}}

<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.email'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(edit_form.email, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.email) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.username'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(edit_form.username, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.username) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.theme'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	<div class="select-wrapper">
	{{ form_widget(edit_form.theme, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.theme) }}
	</div>
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.current_password'|trans() }}</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(edit_form.plainPassword, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(edit_form.plainPassword) }}
</div>



<div class="3u 12u$(xsmall) col-3 col-12-small"></div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	<input type="submit" class="special" value="{{ 'user.button.edit'|trans }}" id="submit-button" />
</div>


{{ form_end(edit_form) }}

{% if is_admin == 0 %}
<hr />

{{ form_start(delete_form, {'attr':{'class':'row uniform'}}) }}
<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.current_password'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
	{{ form_widget(delete_form.password.current_password) }}
	{{ form_errors(delete_form.password.current_password) }}
</div>
<div class="3u 12u$(xsmall) col-3 col-12-small"></div>
<div class="9u$ 12u$(xsmall) col-9 col-12-small">
    <input type="submit" value="{{ 'user.button.delete'|trans() }}">
</div>
{{ form_end(delete_form) }}
{% endif %}

{% endblock %}
