{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'user.title.new'|trans }}{% endblock %}
{% block body %}

{{ 
	form_start(
		form, {
			'attr': {
				'class': 'user_edit row uniform', 
				'novalidate': 'novalidate',
		}
	}) 
}}

<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.username'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.username, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.username) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.email'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.email, {'attr': { 'placeholder':'例) example@example.com' }}) }}
	{{ form_errors(form.email) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	{{ 'entity.user.fname'|trans }}
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.fname, {'label':'entity.user.email'|trans(), 'attr': { 'placeholder':'例) 山田' }}) }}
	{{ form_errors(form.fname) }}
</div>

<div class="3u 12u$(xsmall) col-3 col-12-small">
	{{ 'entity.user.lname'|trans }}
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.lname, {'label':'entity.user.lname'|trans(), 'attr': { 'placeholder':'例) 華子' }}) }}
	{{ form_errors(form.lname) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.zip'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.zip, {'attr': { 'placeholder':'例) 1200001' }}) }}
	{{ form_errors(form.zip) }}
</div>

<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.address'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.address, {'attr': { 'placeholder':'例) 東京都港区1-1-1' }}) }}
	{{ form_errors(form.address) }}
</div>



<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.tel'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.tel, {'attr': { 'placeholder':'例) 03-1111-2222' }}) }}
	{{ form_errors(form.tel) }}
</div>


<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.password'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(form.plainPassword, {'attr': { 'placeholder':'例) example' }}) }}
	{{ form_errors(form.plainPassword) }}
</div>



<div class="3u 12u$(xsmall) col-3 col-12-small"></div>
<div class="9u$ 12u$(xsmall)">
	<input type="submit" class="special" value="{{ 'user.button.new'|trans }}" id="submit-button" />
</div>


{{ form_end(form) }}
{#
{% if is_admin == 0 %}
<hr />

{{ form_start(delete_form, {'attr':{'class':'row uniform'}}) }}
<div class="3u 12u$(xsmall) col-3 col-12-small">
	<label>{{ 'entity.user.current_password'|trans() }}*</label>
</div>
<div class="9u$ 12u$(xsmall)">
	{{ form_widget(delete_form.password.current_password) }}
	{{ form_errors(delete_form.password.current_password) }}
</div>
<div class="3u 12u$(xsmall) col-3 col-12-small"></div>
<div class="9u$ 12u$(xsmall)">
    <input type="submit" value="{{ 'user.button.delete'|trans() }}">
</div>
{{ form_end(delete_form) }}
{% endif %}
#}
{% endblock %}
