{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block title %}{{ 'contact.title.index'|trans }}{% endblock %}
{% block body %}
<table>
    <thead>
        <tr>
            <th>{{ 'entity.contact.createdAt'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
            <td>
        	<h4>{{ contact.title }}</h4>
            <div class="box">
	            {{ contact.createdAt|date('Y年m月d日 H:i:s') }} <br />
	            {{ 'entity.contact.name'|trans }}：{{ contact.name }}{{ 'entity.contact.email'|trans }}：{{ contact.email }}
            </div>
				<a class="button small special fit" href="{{ path('admin_contact_edit', { 'id': contact.id }) }}">{{ 'contact.button.show'|trans }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include admin_template_path('pager.html.twig') %}

{% endblock %}
